<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.day1">
    <!-- android : name 为获取全局context的完整类名 -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginPager.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Utils.RecyclerViewActivity" />
        <activity
            android:name=".LoginPager.RegisterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".LoginPager.RetrieveActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".StyleActivity.NoTitleActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity
            android:name=".HomeFragment.FragmentActivity"
            android:launchMode="singleTask" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_zr_activity" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_zc_activity" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_mr_activity" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_mc_activity" />
        <activity android:name=".HomeFragment.FirstFrag_view.QRcode_share" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_df_activity" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_jif_acitivity" />
        <activity android:name=".HomeFragment.FirstFrag_view.Home_yue_activity" />
        <activity
            android:name=".ShopFragment.ShopFragmentActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ShopFragment.shopPage_view.AllHotSActivity" />
        <activity android:name=".ShopFragment.shopPage_view.AllNewSActivity" />
        <activity android:name=".ShopFragment.FourFrag_view.MyOrderActivity" />
        <activity android:name=".HomeFragment.MinePage_view.ReviseNameActivity" />
        <activity android:name=".HomeFragment.MinePage_view.TelNumberActivity" />
        <activity android:name=".HomeFragment.MinePage_view.BankCardActivity" />
        <activity android:name=".ShopFragment.FourFrag_view.AddressActivity" />
        <activity android:name=".HomeFragment.MinePage_view.ReviseLogpassActivity" />
        <activity android:name=".HomeFragment.MinePage_view.RevisePaypassActivity" />
        <activity android:name=".HomeFragment.MinePage_view.UserSuggestActivity" />
        <activity
            android:name=".ShopFragment.FourFrag_view.AddAddressActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ShopFragment.FourFrag_view.MallRevenueActivity" />
        <activity
            android:name=".ShopFragment.FourFrag_view.UpMarchantsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ShopFragment.ThreadFrag_view.OrightOrderActivity"
            android:launchMode="singleTask" />
        <activity android:name=".GoodsDetails.DetailsActivity" />
        <activity android:name=".Utils.PayAccountActivity" />
        <activity android:name=".Utils.ScanQRCode.ScanQRCodeActivity">

        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 需要申请 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 需要申请 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>